<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clxk.electro.dao.CartItemDao">
    <sql id="cartitem_field">
        ${pre}.ciid as "ciid",
        ${pre}.uid as "uid",
        ${pre}.pid as "pid",
        ${pre}.count as "count"
    </sql>

    <resultMap id="cartItemMap" type="com.clxk.electro.model.CartItem">
        <id property="ciid" column="ciid"/>
        <result property="uid" column="uid"/>
        <result property="count" column="count"/>
        <association property="product" javaType="com.clxk.electro.model.Product">
            <id property="pid" column="pid"/>
            <result property="pname" column="pname"/>
            <result property="categoryId" column="category_id"/>
            <result property="price" column="price"/>
            <result property="firstcost" column="firstcost"/>
            <result property="discount" column="discount"/>
            <result property="stock" column="stock"/>
            <result property="date" column="date"/>
            <association property="productDetails" javaType="com.clxk.electro.model.ProductDetails">
                <id property="pdid" column="pdid"/>
                <result property="avatar1" column="avatar1"/>
                <result property="avatar2" column="avatar2"/>
                <result property="avatar3" column="avatar3"/>
                <result property="avatar4" column="avatar4"/>
                <result property="description" column="description"/>
                <result property="details" column="details"/>
                <result property="rating" column="rating"/>
            </association>
        </association>
    </resultMap>

    <insert id="insert" parameterType="com.clxk.electro.model.CartItem">
        insert into cart_items(ciid, uid, pid, count) values(#{ciid}, #{uid}, #{product.pid}, #{count});

    </insert>

    <update id="update" parameterType="com.clxk.electro.model.CartItem">
        update cart_items
        <set>
            <choose>
                <when test="uid != null and uid != ''">
                    uid = #{uid},
                </when>
                <when test="pid != null and pid != ''">
                    pid = #{product.pid},
                </when>
                <when test="count != null and count != ''">
                    count = #{count},
                </when>
            </choose>
        </set>
        where ciid = #{ciid};
    </update>

    <select id="findByUid" parameterType="String" resultMap="cartItemMap">
        select * from cart_items, product, product_details
        where product.pid = product_details.pdid
          and cart_items.pid = product.pid
          and uid = #{uid}
    </select>

    <select id="findByCiid" parameterType="String" resultMap="cartItemMap">
        select * from cart_items, product, product_details
        where product.pid = product_details.pdid
          and cart_items.pid = product.pid
          and ciid = #{ciid}
    </select>

    <select id="findByPid" parameterType="String" resultMap="cartItemMap">
        select * from cart_items, product, product_details
        where product.pid = product_details.pdid
          and cart_items.pid = product.pid
          and product.pid = #{pid};
    </select>

    <update id="changeCount" parameterType="Map">
        update cart_items set count = count + #{count} where ciid = #{ciid};
    </update>

    <delete id="delete" parameterType="com.clxk.electro.model.CartItem">
        delete from cart_items where ciid = #{ciid};
    </delete>

    <delete id="deleteByUid" parameterType="String">
        delete from cart_items where uid = #{uid};
    </delete>

</mapper>