<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clxk.electro.dao.ManagerDao">
    <sql id="manager_field">
        ${pre}.mid as "mid",
        ${pre}.mname as "mname",
        ${pre}.password as "password",
        ${pre}.phone as "phone",
        ${pre}.firstname as "firstname",
        ${pre}.email as "email",
        ${pre}.lastname as "lastname",
        ${pre}.department_id as "departmentId"
        ${pre}.avatar as "avatar"
    </sql>

    <resultMap id="managerMap" type="com.clxk.electro.model.Manager">
        <id property="mid" column="mid"/>
        <result property="mname" column="mname"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="firstname" column="firstname"/>
        <result property="lastname" column="lastname"/>
        <result property="email" column="email"/>
        <result property="avatar" column="avatar"/>
        <result property="departmentId" column="department_id"/>
    </resultMap>

    <insert id="insert" parameterType="com.clxk.electro.model.Manager">
        insert into tb_manager(mid, mname, password, phone, email, department_id, firstname, lastname, avatar) values(#{mid}, #{mname}, #{password}, #{phone}, #{email}, #{departmentId}, #{firstname}, #{lastname}, #{avatar});
    </insert>

    <update id="update" parameterType="com.clxk.electro.model.Manager">
        update tb_manager
        <set>
            <choose>
                <when test="password != null and password != ''">
                    password = #{password},
                </when>
                <when test="email != null and email != ''">
                    email = #{email},
                </when>
                <when test="phone != null and phone != ''">
                    phone = #{phone},
                </when>
                <when test="firstname != null and firstname != ''">
                    firstname = #{firstname},
                </when>
                <when test="lastname != null and lastname != ''">
                    lastname = #{lastname},
                </when>
                <when test="avatar != null and avatar != ''">
                    avatar = #{avatar},
                </when>
                <when test="departmint_id != null and departmint_id != ''">
                    departmint_id = #{departmintId},
                </when>
            </choose>
        </set>
        where mid = #{mid}
    </update>

    <select id="findAll" resultMap="managerMap">
        select * from tb_manager
    </select>

    <select id="findByMname" parameterType="String" resultMap="managerMap">
        select * from tb_manager
        where mname = #{mname}
    </select>

    <select id="findByMid" parameterType="String" resultMap="managerMap">
        select * from tb_manager
        where mid = #{mid}
    </select>
</mapper>