<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clxk.electro.dao.ProductDao">
    <sql id="product_field">
        ${pre}.pid as "pid",
        ${pre}.pname as "pname",
        ${pre}.category_id as "categoryId",
        ${pre}.price as "price",
        ${pre}.firstcost as "firstcost",
        ${pre}.discount as "discount",
        ${pre}.stock as "stock",
        ${pre}.date as "date"
    </sql>

    <resultMap id="productMap" type="com.clxk.electro.model.Product">
        <id property="pid" column="pid"/>
        <result property="pname" column="pname"/>
        <result property="categoryId" column="category_id"/>
        <result property="price" column="price"/>
        <result property="firstcost" column="firstcost"/>
        <result property="discount" column="discount"/>
        <result property="stock" column="stock"/>
        <result property="date" column="date"/>
        <association property="productDetails" javaType="com.clxk.electro.model.ProductDetails">
            <id property="pdid" column="pdid"/>
            <result property="avatar1" column="avatar1"/>
            <result property="avatar2" column="avatar2"/>
            <result property="avatar3" column="avatar3"/>
            <result property="avatar4" column="avatar4"/>
            <result property="description" column="description"/>
            <result property="details" column="details"/>
            <result property="rating" column="rating"/>
        </association>
    </resultMap>

    <insert id="insert" parameterType="com.clxk.electro.model.Product">
        insert into product(pid, pname, category_id, price, firstcost, discount, stock, date)
          values(#{pid}, #{pname}, #{categoryId}, #{price}, #{firstcost},#{discount}, #{stock}, #{date});
        insert into product_details(pdid, avatar1, avatar2, avatar3, avatar4, description, details, rating)
          values(#{productDetails.pdid}, #{productDetails.avatar1},#{productDetails.avatar2},#{productDetails.avatar3},#{productDetails.avatar4},#{productDetails.description},#{productDetails.details},#{productDetails.rating});

    </insert>

    <update id="update" parameterType="com.clxk.electro.model.Product">
        update product
        <set>
            <choose>
                <when test="pname != null and pname != ''">
                    pname = #{pname},
                </when>
                <when test="category_id != null and category_id != ''">
                    category_id = #{categoryId},
                </when>
                <when test="price != null and price != ''">
                    price = #{price},
                </when>
                <when test="firstcost != null and firstcost != ''">
                    firstcost = #{firstcost},
                </when>
                <when test="discount != null and discount != ''">
                    discount = #{discount},
                </when>
                <when test="stock != null and stock != ''">
                    stock = #{stock},
                </when>
                <when test="date != null and date != ''">
                    date = #{date},
                </when>
            </choose>
        </set>
        where pid = #{pid};

        update product_details
        <set>
            <choose>
                <when test="avatar1 != null and avatar1 != ''">
                    avatar1 = #{productDetails.avatar1},
                </when>
                <when test="avatar2 != null and avatar2 != ''">
                    avatar2 = #{productDetails.avatar2},
                </when>
                <when test="avatar3 != null and avatar3 != ''">
                    avatar3 = #{productDetails.avatar3},
                </when>
                <when test="avatar4 != null and avatar4 != ''">
                    avatar4 = #{productDetails.avatar4},
                </when>
                <when test="description != null and description != ''">
                    description = #{productDetails.description},
                </when>
                <when test="details != null and details != ''">
                    details = #{productDetails.details},
                </when>
                <when test="rating != null and rating != ''">
                    rating = #{productDetails.rating},
                </when>
            </choose>
        </set>
        where pdid = #{pdid};
    </update>

    <select id="findAll" resultMap="productMap">
        select * from product, product_details where product_details.pdid = product.pid
    </select>

    <select id="findByPid" parameterType="String" resultMap="productMap">
        select * from product, product_details
        where product.pid = product_details.pdid and pid = #{pid}
    </select>

    <select id="findByCategory" parameterType="String" resultMap="productMap">
        select * from product, product_details
        where product.pid = product_details.pdid and category_id = #{categoryId}
    </select>

    <select id="findByDateOrderAndCategory" parameterType="String" resultMap="productMap">
        select * from product, product_details
        where product.pid = product_details.pdid and category_id = #{categoryId}
    </select>
</mapper>