<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clxk.electro.dao.ProductDao">

    <resultMap id="productMap" type="com.clxk.electro.model.Product">
        <id property="pid" column="pid"/>
        <result property="pname" column="pname"/>
        <result property="categoryId" column="category_id"/>
        <result property="price" column="price"/>
        <result property="firstcost" column="firstcost"/>
        <result property="discount" column="discount"/>
        <result property="stock" column="stock"/>
        <result property="date" column="date"/>
        <association property="productDetails" javaType="com.clxk.electro.model.ProductDetails">
            <id property="pdid" column="pdid"/>
            <result property="avatar1" column="avatar1"/>
            <result property="avatar2" column="avatar2"/>
            <result property="avatar3" column="avatar3"/>
            <result property="avatar4" column="avatar4"/>
            <result property="description" column="description"/>
            <result property="details" column="details"/>
            <result property="rating" column="rating"/>
        </association>
    </resultMap>

    <insert id="insert" parameterType="com.clxk.electro.model.Product">
        insert into product(pid, pname, category_id, price, firstcost, discount, stock, date)
          values(#{pid}, #{pname}, #{categoryId}, #{price}, #{firstcost},#{discount}, #{stock}, #{date});
        insert into product_details(pdid, avatar1, avatar2, avatar3, avatar4, description, details, rating)
          values(#{productDetails.pdid}, #{productDetails.avatar1},#{productDetails.avatar2},#{productDetails.avatar3},#{productDetails.avatar4},#{productDetails.description},#{productDetails.details},#{productDetails.rating});

    </insert>

    <update id="update" parameterType="com.clxk.electro.model.Product">
        update product
        <set>

            <if test="pname != null and pname != ''">
                pname = #{pname},
            </if>
            <if test="categoryId != null and categoryId != ''">
                category_id = #{categoryId},
            </if>
            <if test="price != null and price != ''">
                price = #{price},
            </if>
            <if test="firstcost != null and firstcost != ''">
                firstcost = #{firstcost},
            </if>
            <if test="discount != null and discount != ''">
                discount = #{discount},
            </if>
            <if test="stock != null and stock != ''">
                stock = #{stock},
            </if>
            <if test="date != null and date != ''">
                date = #{date},
            </if>

        </set>
        where pid = #{pid};
    </update>

    <select id="findAll" resultMap="productMap">
        select * from product, product_details where product_details.pdid = product.pid
    </select>

    <select id="findByPid" parameterType="String" resultMap="productMap">
        select * from product, product_details
        where product.pid = product_details.pdid and pid = #{pid}
    </select>

    <select id="findByCategory" parameterType="String" resultMap="productMap">
        select * from product, product_details
        where product.pid = product_details.pdid and product.category_id = #{categoryId}
    </select>

    <select id="findByDateOrderAndCategory" parameterType="String" resultMap="productMap">
        select * from product, product_details
        where product.pid = product_details.pdid and product.category_id = #{categoryId} order by product.date desc limit 0, 8;
    </select>

    <select id="findHotDealProduct" resultMap="productMap">
        select * from product, product_details where product_details.pdid=product.pid and product.discount <![CDATA[<]]> 1;
    </select>

    <delete id="deleteByPid" parameterType="String">
        delete from product where pid=#{pid};
        delete from product_details where pdid=#{pid};
    </delete>

    <update id="reduceStock">
        update product set stock = stock-#{count} where pid = #{pid};
    </update>

    <select id="executePlaceOrderProcedure" parameterType="java.util.Map" statementType="CALLABLE">
        {call execute_placeOrder(
            #{oiid, jdbcType=VARCHAR, mode=IN},
            #{uid, jdbcType=VARCHAR, mode=IN},
            #{pid, jdbcType=VARCHAR, mode=IN},
            #{count, jdbcType=INTEGER, mode=IN},
            #{date, jdbcType=VARCHAR, mode=IN},
            #{status, jdbcType=INTEGER, mode=IN},
            #{notes, jdbcType=VARCHAR, mode=IN},
            #{addressId, jdbcType=VARCHAR, mode=IN},
            #{result, jdbcType=INTEGER, mode=OUT}
        )}
    </select>
</mapper>