<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clxk.electro.dao.UserDao">
    <sql id="user_field">
        ${pre}.uid as "uid",
        ${pre}.uname as "uname",
        ${pre}.password as "password",
        ${pre}.phone as "phone",
        ${pre}.firstname as "firstname",
        ${pre}.email as "email",
        ${pre}.lastname as "lastname",
        ${pre}.address as "address"
        ${pre}.city as "city"
        ${pre}.country as "country"
        ${pre}.zipcode as "zipcode"
    </sql>

    <resultMap id="userMap" type="com.clxk.electro.model.User">
        <id property="uid" column="uid"/>
        <result property="uname" column="uname"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="firstname" column="firstname"/>
        <result property="lastname" column="lastname"/>
        <result property="email" column="email"/>
        <result property="address" column="address"/>
        <result property="city" column="city"/>
        <result property="country" column="country"/>
        <result property="zipcode" column="zipcode"/>
    </resultMap>

    <insert id="insert" parameterType="com.clxk.electro.model.User">
        insert into tb_user(uid, uname, password, phone, email) values(#{uid}, #{uname}, #{password}, #{phone}, #{email});
    </insert>

    <update id="update" parameterType="com.clxk.electro.model.User">
        update tb_user
        <set>
            <choose>
                <when test="password != null and password != ''">
                    password = #{password},
                </when>
                <when test="email != null and email != ''">
                    email = #{email},
                </when>
                <when test="phone != null and phone != ''">
                    phone = #{phone},
                </when>
                <when test="firstname != null and firstname != ''">
                    firstname = #{firstname},
                </when>
                <when test="lastname != null and lastname != ''">
                    lastname = #{lastname},
                </when>
                <when test="address != null and address != ''">
                    address = #{address},
                </when>
                <when test="city != null and city != ''">
                    city = #{city},
                </when>
                <when test="country != null and country != ''">
                    country = #{country},
                </when>
                <when test="zipcode != null and zipcode != ''">
                    zipcode = #{zipcode},
                </when>
            </choose>
        </set>
        where uid = #{uid}
    </update>

    <select id="findAll" resultMap="userMap">
        select * from tb_user
    </select>

    <select id="findByUname" parameterType="String" resultMap="userMap">
        select * from tb_user
        where uname = #{uname}
    </select>

    <select id="findByUid" parameterType="String" resultMap="userMap">
        select * from tb_user
        where uid = #{uid}
    </select>
</mapper>